* {
    /* border: 1px solid red; */
    background-color: rgb(240, 245, 233);
    margin: 0;
font-family: 'Times New Roman', Times, serif;}

.hero {
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
    background-color: rgb(105, 117, 88);
border-bottom: 10px solid rgb(240, 245, 233);}
.header {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 30px;
    width: 70%;
    align-items:center;
    gap: 40px;
    background-color: rgb(105, 117, 88);
    padding: 0 15px;}

.header a:hover {
    color:rgb(108, 150, 108);}

.header > .active{
    color: #FFDB58;}

a {
    text-decoration: none;
    color: lightyellow;
background-color: rgb(105, 117, 88);}


.title-container {
    text-align: center;
    padding: 70px 100px 80px 100px;
    font-size: 120px;
    margin: 40px 0px;
    color: rgb(105, 117, 88);
    background-color: rgb(240, 245, 233);
    font-weight: bold;}

.top-container {
display: flex;
padding-bottom: 50px;
align-items: center;
justify-content: center;
background-color: rgb(105, 117, 88);
}

.head-title {
    background-color: rgb(240, 245, 233);
}
.photo {
    height: 250px;
    width: auto;
    border: 2px solid lightyellow;
    border-radius: 10px;
}
.picture-container {
    gap: 20px;
}

.picture {
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.smallheading {
    color: rgb(217, 229, 195);
    background-color: rgb(105, 117, 88);
    font-size: 24px;
    font-weight: bold;
}

.message-container {
display: flex;
gap: 30px;
flex-direction: column;

}

.message {
    max-width: 1200px;
    text-align: center;
    margin-top: 30px;
    padding: 30px;
}

.picture{
    background-color: rgb(105, 117, 88);

}

.picture-container {
    display: flex;
    padding: 20px;
    background-color: rgb(105, 117, 88);
    justify-content: space-around;
}
.smalltext {
    font-size: 24px;
    background-color: rgb(217, 229, 195);
    color: rgb(105, 117, 88);
}

.top-container, .message, .message-container, .picture-container {
    background-color: rgb(217, 229, 195);
}

.year-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0px 120px 0px;
}
.year-container {
    display: flex;
    gap: 70px;
    width: 1200px;

}
.yearbox {
    display: flex;
    background-color: rgb(217, 229, 195);
    padding: 40px;
    justify-content:space-around;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    height: 250px;
}
.yeartitle {
    font-size: 70px;
    background-color: rgb(217, 229, 195);
    color: rgb(105, 117, 88);
    font-weight: bold;
}

.yeargoal {
    font-size: 24px;
    color:rgb(217, 229, 195);
    background-color: rgb(217, 229, 195);
}
.yearbox a {
    background-color: rgb(217, 229, 195);
}
.button {
    width: 100px;
    padding: 10px;
    border: 2px solid rgb(240, 245, 233);
    background-color: rgb(105, 117, 88);
    border-radius: 10px;
    color: rgb(240, 245, 233);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 117, 88);
    margin-top: 40px;
 
}
.foot-container {
    padding: 30px;
    background-color: rgb(105, 117, 88);
}
.text3 {
    background-color: rgb(105, 117, 88);
    color: rgb(240, 245, 233)  ;
    font-size: 20px;
}